<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- Multilingual SEO 
  {% I18n_Headers http://mtcharte.net %}-->
  
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/poole.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/hyde.css" | relative_url }}">
  <!-- Lightbox -->
  <link rel="stylesheet" href="{{ "/assets/css/lightbox/lightbox.css" | relative_url }}" >

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/apple-touch-icon-144-precomposed.png" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">

  <!-- Custom CSS and JS -->
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet"  href="/assets/css/{{ stylesheet }}.css">
    {% endfor %}
  {% endif %}

  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
    <script src="/assets/js/{{ js_file }}.js" type="text/javascript"></script>
    {% endfor %}
  {% endif %}

  <!-- Slider -->
  {% include slider_styles.html %}
</head>