<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ "/" | relative_url }}"><img style="margin: auto; width: 50%;" src="{{ "images/mtcharte_firma2.png" | relative_url }}" alt="signature of the artist"/></a>
      <h1>
          <a href="{{ "/" | relative_url }}">mtcharte.net</a>
      </h1>
      <p class="lead">Website of María<br /> Teresa Camacho-Hull <br />Artist // Achocalla, Bolivia</p>
    </div>    
<nav class="sidebar-nav-list">
      {% assign pages_list = site.pages | sort:"menu_weight" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.menu == "main" %}
            {% if node.url == node.url %}<a class="active"{% endif %} href="{{ node.url }}">{{ node.title }}</a><br />    
          {% endif %}
        {% endif %}
      {% endfor %}
</nav>

  <p class="sidebar-nav-copy">| 
    {% for tongue in site.languages %}
      <a href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% assign tongue_text = 'See site in English' %}
      {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% assign tongue_text = 'Ver sitio en español' %}
      {% endif %}">{{ tongue_text }}</a> |
    {% endfor %}
 </p>

    <p class="sidebar-nav-copy">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
