/*#portfolio_container {
    text-align: center;
}*/

img.portfolio {
    float: left; 
    margin-left: 8px;}

a.album, figure {
    display: inline-block;
}
figcaption {
    margin: 1px 0 0 45px;
    font-family: "Abril Fatface", sans-serif;
    font-weight: bold;
    color: #336393;
}
figure {
    padding: 5px;
}
img.album:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
img.album {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}

